# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# 编辑器配置（VSCode等）
.vscode/                # 忽略整个.vscode文件夹

.vite/

.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?                  # 忽略 swap 文件，如 .swp、.swo

# 构建配置
package-lock.json
package.json
tsconfig.app.json
tsconfig.json
tsconfig.node.json    # 排除 vite 配置文件
/.vscode/launch.json
/.vscode/tasks.json
/vite.config.ts
/tsconfig.node.json
